<!DOCTYPE html>
<html>

<head>
    <style>

        body{
            font-family:Arial;
            background:#f4f4f4;
            padding:30px;
        }

        .card{
            max-width:600px;
            background:white;
            margin:auto;
            padding:30px;
            border-radius:10px;
            box-shadow:0 0 15px rgba(0,0,0,.1);
        }

        h2{
            color:#2E7D32;
        }

        .footer{
            margin-top:30px;
            color:#777;
            font-size:13px;
        }

    </style>
</head>

<body>

<div class="card">

<h2>
Welcome {{ username }} 🌱
</h2>

<p>

Your account has been created successfully.

</p>

<p>

You can now:

</p>

<ul>

<li>Detect waste using AI</li>

<li>View Scan History</li>

<li>Email Detection Reports</li>

<li>Receive Disposal Guidance</li>

</ul>

<p>

Happy Recycling!

♻️

</p>

<div class="footer">

Smart Waste Segregation System

</div>

</div>

</body>

</html>